extends layout

block content
  style.
    .center { text-align:center; } 

  h1(class="center")= title

  p(class="center") Welcome to K8S, this <b>Hello World</b> created through a quick Express package!

  p(class="center") Loaded from host with IP: #{host}

  p(class="center") See #[a(href="https://github.com/adamd1985/articles/tree/main/k8s_firststeps") article] for more info on this code.

  br
  br
  br
  
  <div align="center">Made with &#128147; by <b><a href=="https://github.com/adamd1985">Adam</a></b>